<h1>Ocorreu um Erro no Pagamento</h1>
<p>Infelizmente, não conseguimos processar seu pagamento. Por favor, tente novamente.</p>
<%= link_to 'Tentar Novamente', carrinho_path, class: 'btn btn-danger' %>